#lorem-ipsum > div{
    width: 960px;
    margin: 0 auto;
}
.li_title{
    color: #666666;
    font-family: "Merriweather Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}
#lorem-ipsum .block{
    height: 312px;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.02);
    border: 1px solid #eae1d2;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top:20px;
    padding: 20px 21px 22px 10px;
}
.li_image{
    width: 340px;
    height: 270px;
    float: left;
    background-color: blue;
    background-image: url("../images/lorem_ipsum/Layer.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 20px;
    padding: 227px 0px 0px 0px; 
}
.li_block_tittle{
    margin-top: -3px;
    margin-bottom: 10px;
    /* Style for "Why do we" */
    color: #666666;
    font-family: "Merriweather Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    /* Text style for "Why do we" */
    letter-spacing: 0.35px;
}
.li_block_info{
    /* Style for "Contrary t" */
    height: 230px;
    color: #888888;
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "Contrary t" */
    letter-spacing: 0.35px;
}
.li_img_info{
    /* Style for "Rectangle" */
    width: 230px;
    height: 31px;
    background-color: rgba(30, 21, 27, 0.5);
    /* Style for "There are" */
    color: #ffffff;
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "T, here ar" */
    letter-spacing: 0.35px;
    padding: 5px 0px 0px 10px;
}

@media screen and (max-width: 1280px){
    #lorem-ipsum > div{
        width: 640px;
    }
    .li_title{
        font-size: 12px;
        font-weight: 400;
        line-height: 21.33px;
        letter-spacing: 0.3px;
    }
    #lorem-ipsum .block{
        height: 208px;
        box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.02);
        margin-top:13px;
        padding: 7px 13px 14px 15px;
    }
    .li_image{
        width: 227px;
        height: 180px;
        margin-right: 13px;
        padding: 151px 0px 0px 0px; 
    }
    .li_block_tittle{
        margin-top: -3px;
        margin-bottom: 10px;
        /* Style for "Why do we" */
        font-size: 9px;
        font-weight: 400;
        line-height: 21.33px;
        /* Text style for "Why do we" */
        letter-spacing: 0.23px;
    }
    .li_block_info{
        /* Style for "Contrary t" */
        height: 150px;
        font-size: 9px;
        font-weight: 400;
        line-height: 16px;
        /* Text style for "Contrary t" */
        letter-spacing: 0.23px;
    }
    .li_img_info{
        /* Style for "Rectangle" */
        width: 153px;
        height: 21px;
        /* Style for "There are" */
        font-size: 9px;
        font-weight: 400;
        line-height: 16px;
        /* Text style for "T, here ar" */
        letter-spacing: 0.23px;
        padding: 2.5px 0px 0px 9px;
    }
}

@media screen and (max-width: 960px){
    #lorem-ipsum > div{
        width: 480px;
    }
    .li_title{
        font-size: 9px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.23px;
    }
    #lorem-ipsum .block{
        height: 156px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.02);
        margin-top:10px;
        padding: 10px 11px 11px 5px;
    }
    .li_image{
        width: 170px;
        height: 135px;
        margin-right: 10px;
        padding: 114px 0px 0px 0px; 
    }
    .li_block_tittle{
        margin-top: -3px;
        margin-bottom: 10px;
        /* Style for "Why do we" */
        font-size: 7px;
        font-weight: 400;
        line-height: 16px;
        /* Text style for "Why do we" */
        letter-spacing: 0.17px;
    }
    .li_block_info{
        /* Style for "Contrary t" */
        height: 115px;
        font-size: 7px;
        font-weight: 400;
        line-height: 12px;
        /* Text style for "Contrary t" */
        letter-spacing: 0.17px;
    }
    .li_img_info{
        /* Style for "Rectangle" */
        width: 115px;
        height: 16px;
        /* Style for "There are" */
        font-size: 7px;
        font-weight: 400;
        line-height: 12px;
        /* Text style for "T, here ar" */
        letter-spacing: 0.17px;
        padding: 2.5px 0px 0px 9px;
    }
}

@media screen and (max-width: 640px){
    #lorem-ipsum > div{
        width: 320px;
    }
    .li_title{
        font-size: 6px;
        font-weight: 400;
        line-height: 10.67px;
        letter-spacing: 0.15px;
    }
    #lorem-ipsum .block{
        height: 104px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.02);
        margin-top:7px;
        padding: 7px 7px 7px 3px;
    }
    .li_image{
        width: 113px;
        height: 90px;
        margin-right: 7px;
        padding: 76px 0px 0px 0px; 
    }
    .li_block_tittle{
        margin-top: -3px;
        margin-bottom: 6px;
        /* Style for "Why do we" */
        font-size: 5px;
        font-weight: 400;
        line-height: 10.67px;
        /* Text style for "Why do we" */
        letter-spacing: 0.12px;
    }
    .li_block_info{
        /* Style for "Contrary t" */
        height: 77px;
        font-size: 5px;
        font-weight: 400;
        line-height: 8px;
        /* Text style for "Contrary t" */
        letter-spacing: 0.12px;
    }
    .li_img_info{
        /* Style for "Rectangle" */
        width: 77px;
        height: 10px;
        /* Style for "There are" */
        font-size: 5px;
        font-weight: 400;
        line-height: 8px;
        /* Text style for "T, here ar" */
        letter-spacing: 0.12px;
        padding: 2px 0px 0px 6px;
    }
}