#nbMenu{
    background-image: url("../images/navbar/Shape_63.png"); 
    height: 50px; 
    margin: 0; 
    padding: 0;
}
#brand_name {
    width: 302px;
    color: #65270c;
    font-family: "Merriweather Sans";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding: auto;
    padding-left: 25%;
    z-index: 1;
}
#collapsibleNavbar{
    background-image: url("../images/navbar/Shape_63.png");
    background-size:cover;
    padding-left: 21.2%;
    z-index: 0;
}
#collapsibleNavbar ul li a[class^=nav-link]{
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: "Merriweather Sans";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-right: 20px;

}

