#navbar-container{
    background-color: #000000;
    background-image: linear-gradient(to top, #ab4418 0%, #b84c1e 100%);
    
}
#nbMenu{
    /* Style for "Shape 63" */
    width: 960px;
    background-color: #000000;
    background-image: linear-gradient(to top, #ab4418 0%, #b84c1e 100%);
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.active {
    color: black;
}
#brand_name {
    color: #65270c;
    font-family: "Merriweather Sans";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    /* z-index: 1; */
}
#collapsibleNavbar ul li a[class^=nav-link]{
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: "Merriweather Sans";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0px 0px 0px 20px;

}
#collapsibleNavbar > ul > li > a:hover{
    transform: scale(1.15);
}
@media screen and (max-width: 1000px){
    #nbMenu{
        width:96%;
    }
}
@media screen and (max-width: 400px){
    #brand_name {
        font-size: 28px;
    }
}
@media screen and (max-width: 350px){
    #brand_name {
        font-size: 27px;
    }
}

