#news{
    width: 960px;
    margin: 0 auto;
}
#news > span{
    /* Style for "LATEST NEW" */
    width: 125px;
    height: 13px;
    color: #666666;
    font-family: "Merriweather Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    /* Text style for "LATEST NEW" */
    letter-spacing: 0.45px;
}
.news_container{
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    /* height: 339px; */
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.02);
    border: 1px solid #eae1d2;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 20px; 
}
.nb_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.news_block{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.news_block > div{
    width: 320px;
}
.news_block > img{
    align-self: flex-start;
    margin: 4px 28px 0px 4px;
}
.news_block_tittle{
    /* Style for "SOME INTER" */
    color: #666666;
    font-family: "Merriweather Sans";
    font-size: 14px;
    font-weight: 400;
    /* line-height: 32px; */
    text-transform: uppercase;
    /* Text style for "SOME INTER" */
    letter-spacing: 0.35px;
    margin-top: 13px;
    margin-bottom: 17px;
}
.news_block > div > p{
    /* Style for "Lorem ipsu" */
    /* height: 59px; */
    color: #888888;
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "Lorem ipsu" */
    letter-spacing: 0.35px;
}
.news_block > div > button{
    /* Style for "Shape 39 c" */
    width: 120px;
    height: 30px;
    /* Style for "READ MORE" */
    /* Style for "Shape 39" */
    background-color: #b24818;
    color: #fdfefe;
    font-family: "Noto Sans";
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "READ MORE" */
    letter-spacing: 0.7px;
}
.news_block > div > button:hover{
    border: 1px solid #a82020;
    background-color: #b84a19;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
}
/* .topMargin{
    margin-top: 20px;
}
.bottomMargin{
    margin-bottom: 20px;
}  */


@media screen and (max-width: 1000px){
    #news{
        width: 96%;
    }
}
@media screen and (max-width: 970px){
    .news_block > div{
        width: 250px;
    }
    .news_block_tittle{
        margin-top: 7px;
        margin-bottom: 13px;
    }
}
@media screen and (max-width: 820px){
    .news_block > div{
        width: 200px;
    }
    .news_block_tittle{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .news_block > img{
        margin: 4px 10px 0px 4px;
    }
}
@media screen and (max-width: 680px){
    .news_block > div{
        width: 143px;
    }
    .news_block_tittle{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .news_block > img{
        margin: 4px 7px 0px 4px;
    }
}
@media screen and (max-width: 550px){
    /* .nb_row{
        justify-content: space-around;
    }
    .news_block{
        flex-direction: column;
    } */
    .news_block {
        flex-wrap: nowrap;
    }
    .news_block > div {
        width: 320px;
    }
    .news_block {
        margin-bottom: 20px;
    }
    .nb_row {
        margin: 0;
        justify-content: center;
    }
}
@media screen and (max-width: 480px){
    .news_block > div {
        width: 65%;
    }
}
/* @media screen and (max-width: 370px){
    .news_block {
        flex-wrap: wrap;
        justify-content: center;
    }
    .news_block > div {
        width: 95%;
    }
} */