#news{
    margin-left: 25.5208333333%;
    margin-right: 24%;
}
#news > span{
    /* Style for "LATEST NEW" */
    width: 125px;
    height: 13px;
    color: #666666;
    font-family: "Merriweather Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    /* Text style for "LATEST NEW" */
    letter-spacing: 0.45px;
}
.news_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* Style for "bg" */
    width: 960px;
    height: 339px;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.02);
    border: 1px solid #eae1d2;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 20px;
}
.nb_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news_block{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
