#portfolio{
    width: 959px;
    margin: 0 auto;
    overflow: hidden;
}
.portfolio_tittle{
    /* Style for "PORTFOLIO" */
    width: 103px;
    color: #666666;
    font-family: "Merriweather Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    /* Text style for "PORTFOLIO" */
    letter-spacing: 0.45px;
    text-align: center;
    /* padding-bottom: 27px; */
}
.portfolio_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.portfolio_content_mask{
    position: relative;
    white-space: nowrap;
    font-size: 0;
}
.portfolio_content_block{
    display: inline-block;
    /* Style for "Rectangle" */
    width: 220px;
    height: 174px;
    margin: 20px 20px 0px 0px;
    box-shadow: inset 0 0 2px rgba(163, 163, 161, 0.2);
    background-color: #3c3e3a; 
}
.portfolio_content_block:hover{
    box-shadow: inset 0 0 2px rgba(163, 163, 161, 0.2);
    background-color: #b14519;
}
.portfolio_content_block:hover > img{
    opacity: 0.45;
}
.portfolio_content_block_info{
/* Style for "It is a lo" */
    width: 185px;
    color: #ffffff;
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    /* Text style for "I, t is a" */
    letter-spacing: 0.35px;
    margin: 5px auto;
}



/*      ------------ PORTFOLIO ARROWS ------------     */
#portfolio-arrows{
    display: flex;
    flex-direction: row;
}
#portfolio-arrows > div{
    width: 26px;
    height: 26px;
    margin-top: 6px;
}
img[alt=Line_Portfolio]{
    width: 44.1145833333%;
    margin-left: 25.0520833333%;
    padding: 20px 0px;
    margin-right: 15px;
}
.arrow{
    background-image: url("../images/portfolio/press_shape.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin:2px;
}
img[alt=left-arrow]{
    padding-left: 4px; 
}
img[alt=right-arrow]{
    padding-left: 6px; 
}

@media screen and (max-width: 1000px){
    #portfolio{
        width: 95.9%;
    }
}

