#search{
    background-color: #ab4418;
    height: 150px;
    text-align: center;
}
.search_content{
    width: 940px;
    margin: 0 auto;
}
.search_logo{
    /* Style for "Search" */
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-family: "Merriweather Sans";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "Search" */
    letter-spacing: 1.8px;
    text-align: center;
    padding: 7.5px;
}
.search_block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search_block > input{
    /* Style for "Rectangle" */
    width: 770px;
    height: 38px;
    border: 1px solid #954019;
    background-color: #ffffff;
}
.search_block > button{
    /* Style for "Rounded Re" */
    width: 170px;
    height: 40px;
    border: 1px solid #d4c9b8;
    background-color: #e3d6c3;
    /* Style for "Search" */
    color: #bb4a1b;
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "Search" */
    letter-spacing: 0.7px;
}
.search_block > button > img[alt=searching_hover]{
    display: none;
}
.search_block > button:hover{
    border: 1px solid #d4c9b8;
    background-color: #484848;
    color: #ffffff;
}
.search_block > button:hover img[alt=searching]{
    display: none;
}
.search_block > button:hover img[alt=searching_hover]{
    display: inline;
}


@media screen and (max-width: 960px){
    .search_content{
        width: 97.916666667%;
    }
    .search_block > input{
        /* Style for "Rectangle" */
        width: 80.208333333%;
        height: 38px;
    }
    .search_block > button{
        /* Style for "Rounded Re" */
        width: 17.708333333%;
        height: 40px;
    }
}
@media screen and (max-width: 560px){
    #search{
        height: 90px;
    }
    .search_content{
        width: 97.916666667%;
    }
    .search_block > input{
        /* Style for "Rectangle" */
        width: 80.208333333%;
        height: 25px;
    }
    .search_block > button{
        /* Style for "Rounded Re" */
        /* width: 17.708333333%; */
        width: 90px;
        height: 27px;
        font-size: 11px;
        letter-spacing: 0.47px;
    }
    .search_block > button > img{
        width:15px;
        height:15px;
    }
    .search_logo{
        /* Style for "Search" */
        font-size: 24px;
        /* Text style for "Search" */
        letter-spacing: 1.2px;
        padding: 0;
        margin: 0;
    }
}