#services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#services > .service_block{
    width: 220px;
    height: 340px;
    box-shadow: inset 0 0 2px rgba(163, 163, 161, 0.2);
    background-color: #e3d6c3;
    margin-top: 20px;
    margin-right: 16px;
}
#services > .service_block:hover {
    border: 1px solid #b84e1d;
}
.service_block_logo{
    width:100px;
    height:100px;
    background-image: url("../images/services/Gray_Round.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px 60px 34px;
}
.service_block:hover .service_block_logo{
    background-image: url("../images/services/Brown_Round.png");
}
.service_block_logo > img[alt=mac]{
    margin: 27px 0px 0px 21px;
    padding: 0;
}
.service_block_logo > img[alt=note]{
    margin: 20px 0px 0px 26px;
    padding: 0;
}
.service_block_logo > img[alt=person]{
    margin: 18px 0px 0px 21px;
    padding: 0;
}
.service_block_logo > img[alt=gallery]{
    margin: 24px 0px 0px 20px;
    padding: 0;
}
.service_block_tittle{
    /* Style for "Responsive" */
    color: #555555;
    font-family: "Merriweather Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    /* Text style for "Responsive" */
    letter-spacing: 0.45px;
    text-align: center;
}
.service_block_info{
    /* Style for "I am so cl" */
    color: #888888;
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin: 25px 12px 0px;    
    text-align: center; 
}

@media screen and (max-width: 1280px) {
    #services > .service_block{
        width: 148px;
        height: 228px;
        box-shadow: inset 0 0 1px rgba(163, 163, 161, 0.2);
        background-color: #e3d6c3;
        margin-top: 13px;
        margin-right: 11px;
    }
    .service_block_logo{
        width:67px;
        height:67px;
        margin: 13px 40px 23px;
    }
    .service_block_logo > img[alt=mac]{
        width:39px;
        height:33px;
        margin: 18px 0px 0px 14px;
    }
    .service_block_logo > img[alt=note]{
        width:39px;
        height:38px;
        margin: 13px 0px 0px 17px;
    }
    .service_block_logo > img[alt=person]{
        width:40px;
        height:39px;
        margin: 12px 0px 0px 14px;
    }
    .service_block_logo > img[alt=gallery]{
        width:43px;
        height:33px;
        margin: 16px 0px 0px 13px;
    }
    
    .service_block_tittle{
        /* Style for "Responsive" */
        font-size: 12px;
        font-weight: 400;
        line-height: 21.33px;
        /* Text style for "Responsive" */
        letter-spacing: 0.3px;
    }
    .service_block_info{
        /* Style for "I am so cl" */
        font-size: 9px;
        font-weight: 400;
        line-height: 17.33px;
        margin: 17px 8px 0px;  
    }
}

@media screen and (max-width: 960px) {
    #services > .service_block{
        width: 111px;
        height: 171px;
        box-shadow: inset 0 0 1px rgba(163, 163, 161, 0.2);
        background-color: #e3d6c3;
        margin-top: 10px;
        margin-right: 10px;
    }
    .service_block_logo{
        width:50px;
        height:50px;
        margin: 10px 30px 17px;
    }
    .service_block_logo > img[alt=mac]{
        width:29px;
        height:25px;
        margin: 14px 0px 0px 11px;
    }
    .service_block_logo > img[alt=note]{
        width:29px;
        height:29px;
        margin: 10px 0px 0px 13px;
    }
    .service_block_logo > img[alt=person]{
        width:30px;
        height:29px;
        margin: 9px 0px 0px 12px;
    }
    .service_block_logo > img[alt=gallery]{
        width:32px;
        height:25px;
        margin: 12px 0px 0px 10px;
    }
    
    .service_block_tittle{
        font-size: 9px;
        font-weight: 400;
        line-height: 16px;
        /* Text style for "Responsive" */
        letter-spacing: 0.23px;
    }
    .service_block_info{
        /* Style for "I am so cl" */
        font-size: 7px;
        font-weight: 400;
        line-height: 13px;
        margin: 13px 6px 0px;
    }
}


@media screen and (max-width: 640px) {
    #services > .service_block{
        width: 73px;
        height: 113px;
        box-shadow: inset 0 0 1px rgba(163, 163, 161, 0.2);
        background-color: #e3d6c3;
        margin-top: 10px;
        margin-right: 10px;
    }
    .service_block_logo{
        width:33px;
        height:33px;
        margin: 7px 20px 11px;
    }
    .service_block_logo > img[alt=mac]{
        width:19px;
        height:16px;
        margin: 9x 0px 0px 7px;
    }
    .service_block_logo > img[alt=note]{
        width:19px;
        height:19px;
        margin: 7px 0px 0px 9px;
    }
    .service_block_logo > img[alt=person]{
        width:20px;
        height:19px;
        margin: 6px 0px 0px 7px;
    }
    .service_block_logo > img[alt=gallery]{
        width:21px;
        height:17px;
        margin: 8px 0px 0px 7px;
    }
    
    .service_block_tittle{
        font-size: 6px;
        font-weight: 400;
        line-height: 10.67px;
        /* Text style for "Responsive" */
        letter-spacing: 0.15px;
    }
    .service_block_info{
        font-size: 5px;
        font-weight: 400;
        line-height: 8.67px;
        margin: 8px 4px 0px;
    }
}