#top_contacts{
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end;
    flex-wrap: wrap; 
    width: 960px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    margin: 0 auto;
}
#top_contacts > div > img[alt=Layer]{
    display: inline-block;

}
#top_contacts > div > img[alt=Email]{
    display: inline-block;
    padding-left: 20px; 
}
#top_contacts a {
    text-decoration: none;
}
#top_contacts a[href^=tel]{
    /* Style for "+792 567 8" */
    width: 122px;
    height: 13px;
    color: #000000;
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 5px; 
}
#top_contacts a[href^=mailto]{
    /* Style for "contact@bl" */
    width: 251px;
    height: 16px;
    color: #000000;
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 5px;
}

@media screen and (max-width: 1000px){
    #top_contacts{
        width: 96%;
    }
}
